@{
    Layout = null;
}



<!doctype html>
<html lang="en" ng-app="urlTestApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>URL temp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <base href="/">
</head>
<body>

    <div ui-view></div>
    
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui-router.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/backendController.js"></script>
    <script src="/App/mapController.js"></script>
    <script src="/App/touristObjectController.js"></script>



</body>
</html>